body,html{
    padding: 0;
    margin: 0;
    height: 100%;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.box{
    background-color: rgba(17, 11, 11, 0.829);
    padding: 30px 80px;
    border-radius: 30px;
    
}
button{
    font-size: 20px;
    padding: 10px 40px;
    background-color: rgb(84, 84, 143);
    margin: 5px;
}
.inner{
    width: 540px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
